[Unit]
Description=Sailor Fox (HTTP backend)
After=network.target

[Service]
Type=simple
User=<username>
Group=<username>
WorkingDirectory=/home/<username>/sailor-fox
ExecStart=/usr/bin/python3 http_backend.py
Restart=always

[Install]
WantedBy=multi-user.target
